<!-- <div class="contain">
    <h1><b>TYPE MASTER</b></h1>
    <h6>{{randomText}}</h6>
<input type="text" class="form-control" (input)="getText($event)">
<h2 *ngIf="randomText === enterText ">Success....</h2> 

<br>
<img src="../assets/th.jpg" alt="">
    

</div> -->



<!-- ####################################compaleted type master -->




<!-- 
 <div class="container">
    <h1><b>TYPE MASTER</b></h1>

    <p>
        <span *ngFor="let x of randomText.split(''); let y=index" [class]="contain(x,enterText[y])" >
            {{x}}
        </span>

    </p>
    <input type="text" class="form-control"(input)="getText($event)">
    <h4 *ngIf="randomText === enterText">Success.....</h4>
    <img src="../assets/th (1).jpg" alt="">


</div>  -->

<!-- ################################################################################ -->


<!-- 
<div class="container"><h1><b>TYPE MASTER</b></h1>
    <h4>random Text</h4>
    <input type="text">

</div> -->



