<!-- 
<table class="table table-secondary">
 <thead>
    <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Type</th>
        <th>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target ="#log">Add product</button>
        </th>
        <th></th>
        
    </tr>
 </thead>
 <tbody>
    <tr *ngFor="let x of climate">
        <td>{{x.name}}</td>
        <td>{{x.cost}}</td>
        <td>{{x.type}}</td>
        <td><button class="btn btn-warning ">Edit</button></td>
        <td><button class="btn btn-danger">Delet</button></td>



    </tr>
 </tbody>
</table>
<div class="modal"  id="log">
    <div class="modal-dialog"> 
        <div class="modal-content">
            <form>
                <div>
                    <label for="">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label for="">Cost</label>
                    <input type="text" class="form-control">
                </div>
                <div>
                    <label for="">Type</label>
                    <input type="text" class="form-control">
                </div>
            </form>

        </div>
        
    </div>


</div>


 -->










