
<!-- 
<div class="container mt-3">
  <h2>Login form</h2>
  <form >
    <div>
      <label for="email">Email:</label>
      <input type="email" class="form-control"  placeholder="Enter email">
    </div>
    <div>
      <label for="pwd">Password:</label>
      <input type="password" class="form-control"  placeholder="Enter password" >
    </div>
    <div>
      <label class="form-check-label">
        <input type="checkbox"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>



<div>
  <table class="table">
    <thead>
<tr>
  <th>S.NO</th>
  <th>NAME</th>
  <th>Role</th>
  <th>Salary</th>
  <th>id</th>
</tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of happy">
        <td>{{x.sno}}</td>
        <td>{{x.name}}</td>
        
        <td>{{x.role}}</td>
        <td>{{x.salary}}</td>
        <td>{{x.id}}</td>
      </tr>
    
    </tbody>
  </table>
</div>


 -->





