<!-- <div id="main">
    <div style="background-color:coral;">A</div>
    <div style="background-color:lightblue;">B</div>
    <div style="background-color:khaki;">C</div>
    <div style="background-color:pink;">D</div>
    <div style="background-color:lightgrey;">E</div>
    <div style="background-color:lightgreen;">F</div>
   
  </div>
  <div> <img src="../assets/grosery.webp" alt="" class="w"></div>
  <div class="r">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus officiis possimus consectetur voluptates, quia at fuga nam sed adipisci. Vero ut eveniet asperiores quia fugiat? Nihil nostrum saepe inventore sint! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, aliquid pariatur? Quisquam distinctio eligendi doloremque beatae nulla ipsa nihil nisi corporis cupiditate expedita magni tempore optio, magnam ducimus, possimus commodi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem architecto distinctio, mollitia eaque ex molestias autem amet sint nostrum. Sint quidem odit soluta illum quas praesentium sapiente quia consectetur laudantium! </div>
  <div> <img src="../assets/grosery.webp" alt="" class="w"></div>

  <button>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus fugit aperiam at esse adipisci illo veritatis! Unde, incidunt dignissimos sapiente ratione molestiae maxime nam perspiciatis quos sit error magnam ipsam.</button>
  <button>login</button>
<small class="a1">hello</small>
<button class="a2">jhaskdjhsa</button>
<p class="w1">jckalcka</p>
<pre class="w2">jhgfAJF</pre>

<a href="https://www.w3schools.com" class="k1">Visit W3Schools.com!</a>
<script>
  document.getElementById("demo").innerHTML = "My First JavaScript";
  </script>
  <p class="text-blue">sdkjjjjjjjjjjjjjjjjjjjjjjjjjjjjjufhjhfjkhfkjldfDKJFHUIERYIUEWPgdsbnbhjadsghgfyewroruehuihfjsdbjbfdsb</p> -->