<!-- <div class="menu">
    <div class="flex-container">
    <button>Home</button>
    <button>Contact</button>
    <button>About</button>
    <button>Service</button>

</div>

</div>

<app-log></app-log> -->

<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
     Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>

    < Wrapper for slides -->
    <!-- <div class="carousel-inner">
      <div class="item active">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/D-topbanner-1440x470-Ends24thOct.gif" alt="" style="width:100%;">
      </div>

      <div class="item">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/17102022-d-unisex-main-p6-brands-min50.jpg" alt="" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/17102022-unisex-d-main-p5-brands-upto80.jpg" alt="" style="width:100%;">
      </div>
      <div class="item">
        <img src="https://assets.ajio.com/cms/AJIO/WEB/17102022-unisex-d-main-p1-brands-upto700.jpg" alt="" style="width:100%;">
      </div>
    </div> -->

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
   
  
  <div class="flex-container">
    <div>1</div>
    <div>2</div>
    <div>3</div> -->
  <!-- </div>  -->

