<!-- 
    <input type="text" #joy>
  <button (keyup)="sendmethod(joy)">sign up</button>  
 <h3>{{city}}</h3>
   <h1 class={{cname}}>heading</h1>


  <button (click)="increment()">increment</button>
  <button (click)="decrement()">decrement</button>
 

  <h1>counter: {{counter}}</h1>

<input type="text">

  <button (dblclick)="handledoubleclick()">double click on me</button>

  <h1>{{hello}}wow</h1>

  <button (click)="sendmethod()">signup</button>

  <img src={{path}} height="200px" alt="no image">

    Name:<input type="text"(input)="changeName"> 
     <h1>{{d}}</h1>


    <div>
      <form action="">
        <label for="">Usename</label>
        <input type="text" #hello>
        <br>
        <label for="">Password</label>
        <input type="password" #hel>
        
        
      
        

      </form>
      <button (click)="clickonme(hello,hel)">signup</button>
    </div>
 -->

<!-- 
<div>
  <h4>Employ Details</h4>
  <form action="">
    <label for="">First Name</label>
  <input type="text">
  <br>
  <br>
  <label for="">Second Name</label>
  <input type="text">
  <br>
  <br>
  <input type="radio" [disabled]="abc">
  <button>Male</button>
  <input type="radio">
  <button>Female</button>
  <br>
  <br>
  <label for="">Employ Id</label>
  <input type="text">
  <br>
  <br>
  <label for="">Designation</label>
  <input type="text">
  <br>
  <br>
  <label for="">Phone Number</label>
  <input type="number">
  <br>
  <input type="text" #hai>
  <button (click)="onChange(hai)">signup</button>

  <div (mouseover)="onmouseover($event)" (mouseout)="onmouseout($event)">THIS is a book</div>  


  </form> -->

<!-- 
  <h1>this is h1 tag</h1>

  <button class="btn btn-primary">success</button>  

  <input type="text" [(ngModel)]="mango">
  <h1>{{mango}}</h1> -->
<!-- <input type="text" class="form-control" [value]="name">
{{name}} -->
<!-- <input type="text" class="form-control" [(ngModel)]="name">
{{name}}

<button (click)="ahello()">update</button>

<input type="text"[(ngModel)]="pk">
<h1>{{pk}}</h1>
<br>

<div [text content]="joy">work</div> -->
<!-- <button [disabled]="now">good morning</button>
<br>
<input type="text" [value]="inputvalue" [disabled]="house">
<h6 [textContent]="inputvalue"></h6>

<input type="text"#nice>
<button (click)="toy(nice)">click</button>
<h3 (dbl)="goal()">webpage</h3> -->

<!-- ##################################  PROPERTY BINDING  ####################################### -->
<!-- 
 <input type="number"[hidden]=ishidden>
<button>submit</button>
<input type="number"[hidden]="index">
<button>click</button>  -->
<!-- <app-new></app-new>
<app-tymaster></app-tymaster>
<app-home></app-home> -->

<!-- ###########################################################  ROUGHTING   ####################################################################### -->

<!-- <div style="background-color:  blue; height: 150px;">
<button  [routerLink]="['/home']">HOME</button>
<button  [routerLink]="['/about']">ABOUT</button>
<button  routerLink="/contact">CONTACT</button>
<button  [routerLink]="['/service']">SERVICE</button>


</div>
<router-outlet></router-outlet> 


<div style="background-color: brown;height: 100px;">
  <button [routerLink]="['/apple']">APPLE</button>
  <button [routerLink]="['/orange']">ORANGE</button>
  <button [routerLink]="['/strawberry']">STRAWBERRY</button>
  <button [routerLink]="['/guava']">GUAVA</button>
</div>
<router-outlet></router-outlet>  -->


<!-- <div class="test">
  <div class="row a1">
    <div class="col-sm-2">
      <img src="../assets/flipcart image.png" alt="" srcset="" class="logo">
    </div>
    <div class="col-sm-4">
<form class="dflex">
      <input class="formcontrol" type="text" placeholder="     Search for products and brands">
      <i class="fa-solid fa-magnifying-glass"></i>
    </form>
    </div>

    <div class="col-sm-2">Lakshmi</div>
    <div class= "col-sm-1"> cart<i aria-hidden="true" class="fas fa-shopping-cart" ></i></div>
    
    <div class="col-sm-2">Become a seller</div>
    <div class="col-sm-1">.</div>
  </div>

 
  <div class="row a2">
    
    <div class="col-sm-1"> 
      <div><img src="../assets/grosery.webp" alt="" class="ab"></div>
     <div> Grocery</div></div>
    
    <div class="col-sm-1">Mobiles</div>
    <img src="../assets/ele.webp" alt="" class="z">
    <div class="col-sm-1">Fashion</div>
    <div class="col-sm-1">Electronics</div>
    <div class="col-sm-2">Home&Furniture</div>
    <div class="col-sm-1">Appliances</div>
    <div class="col-sm-1">Travel</div>
    <div class="col-sm-2">Beauty,Toys&More</div>
    <div class="col-sm-2">Two Wheelers</div>
    </div>
     
  <div class="row a3">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
    
    
    <i class="bi bi-chevron-compact-left"></i>
    <img src="../assets/de.webp" alt="" >
    
  </div>
  <div class="row a4">Best Electronics</div>
</div> -->

<!-- <app-flex></app-flex>
<app-form></app-form> -->

<!-- <! BARBEQUEEEEEEEEEEEEEEEEEE WEB PAGE##################################################################################### -d -->
 <div class="row now">
  <div class="row f1">
    <div class="col-sm-1" >
      <img src="../assets/b.png" alt="" class="a4">
    </div>
    <div class="col-sm-1 s1" >Select Location 
      <i class="bi bi-chevron-down"></i>
    </div>
    <div class="col-sm-1 h1"> Happiness Card</div>
    <div class="col-sm-1 w1">Whats on BBQN</div>
    <div class="col-sm-1 t1">Todays Menu</div>
    <div class="col-sm-1 c1">catering
      <span class="new">NEW</span>
    </div>
    <div class="col-sm-1 d1">
      <a href="/delivery-home-page" class="delivery-takeaway-button"> Delivery/Takeaway</a>
    </div>
    <div class="col-sm-1 l1">Login
      
    </div>
    <div class="col-sm-1 b1" >
    
      <i class="fa-solid fa-bell"></i>
      <span class="notifications-count row align-center justify-center" id="notifications-count">0</span>
     
    </div>

    <div class="col-sm-1 bi1">
      
      <i class="bi bi-cart"></i>
      <span id="cart-count" class="count">0</span>
    </div>
    <div class="col-sm-1">
      <div class="menuToggle row"></div>

    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="row f2">
    <h3>HappyNess card for you</h3>
    <img src="../assets/3.png" alt="" class="gh">
    
  </div>
 </div>