// .container{
//     height: 300px;
//     width: 400px;
//     background-color: lightcoral;
// }


// .container1{
//     height: 300px;
//     width: 400px;
//     background-color: red;
// }
// .special{
//     border: 3px solid black;

// }
// .spread{
//     color: bisque;
//     background-color: crimson;
// }
// .good{
//     height: 100px;
//     font-size: 90px;
//     text-align: center;
    
// }

// h1{
//     background-color: green;
    
// }
// *{
//     background-color: aqua;
// }


.test{
    background-color: white;
    height: 100vh;
}
*{
margin: 0;
padding: 0;
}
.a1{
    background-color: white;
    height: 20vh;
    font-size: 20px;
    
 }
.formcontrol{
   height: 40px;
   width: 582px;
position:absolute;
top: 5px;
left: 162px;
    border-radius: 3px;
 }
.a2{
    background-color: white;
    height: 20vh;
}
.ab{
    height: 50px;
    width: 53px;
    bottom: 90px;
}
.a3{
    background-color: white;
    height: 30vh;
}
.a4{
    background-color: white;
    height: 30vh;
}
.fa-solid{
    position: relative;

    
}
.logo{
    height: 100px;
    width: 150px;
    position: absolute;
    left: -10px;
    top: -25px;

}
.z{
    height: 100px;
    width: 80px;
}





.a4{
    width: 134px;
    height: 121px;
    position: top;
    position: relative;
    top: -23px;
    line-height: normal;
}
.s1{
        font-size: 16px;
    top: 20px;
}
.w1{
    font-size: 16px;
top: 20px;
}
.t1{
    font-size: 16px;
top: 20px;

}
.c1{
    font-size: 16px;
top: 20px;
background-color: #8e0e35;
    padding: 6px 25px 6px 6px;
    width: 77px;
    border-radius: 30px;
    height: 40px;

}
.d1{
    font-size: 15px;
top: 20px;
left: 10px;
}
.h1{
    font-size: 16px;
    top: 20px;
    left: 10px;
       
}
.l1{
    font-size: 16px;
    top: 20px;
    right: -48px;
       
}
.b1{
    font-size: 16px;
    top: 20px;
       
}
.bi1{
    font-size: 16px;
    top: 20px;
       
}
.new{
    position: absolute;
    font-size: 6px;
    background-color: #ff3535;
    color: #fff;
    border: 2px solid #fff;
    padding: 6px 4px;
    border-radius: 50%;
    top: -10px;
    right: -4px;
}

a:hover {
outline: none;
}
.delivery-takeaway-button {
    text-indent: 0;
    display: block;
    background: #fc4412;
    width: 100%;
    border-radius: 30px;
}
.f1{
    position: fixed;
}
.count {
    position: absolute;
    top: 2px;
    right: 116px;
    width: 9px;
    height: 13px;
    color: #fff;
    border-radius: 50%;
    background: #fc4412;
    font-size: 9px;
}
#notifications-count{
     
    position: absolute;
    top: -4px;
    right: 113px;
    width: 7px;
    height: 12px;
    color: #fff;
    border-radius: 50%;
    background: #fc4412;
    font-size: 9px;
}
.gh{
    width: 500px;
    position: absolute;
    left: 60px;
    top: 160px;
}