
<div class="row main">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <img src="../assets/flipcart image.png" alt="" class="r1">
  </div>
  <div class="col-sm-3">
    <form action="">
      <input type="text" class="form-control" >

    </form>
  </div>
  <div class="col-sm-1">
    Download App
  </div>
  <div class="col-sm-1">Become</div>
  <div class="col-sm-1">Newsroom</div>
  <div class="col-sm-1">
    <span>Profile</span>
  </div>
  <div class="col-sm-1"> <span>Cart</span>
  </div>
  <div class="col-sm-1"></div>
  </div>
  
 




















  



