<!-- <div>
    <table style="width: 100%;">
    <body>
        <h3>MARKS LIST</h3>
        <tr>
            <th>NAME</th>
            <th>S.NO</th>
            <th>SCORE</th>
            <th>MARKS</th>
        </tr>
        <tr>
            <td>pranay</td>
            <td>1</td>
            <td>90%</td>
            <td>99</td>
        </tr>
        <tr>
            <td>Bhaavya</td>
            <td>2</td>
            <td>99%</td>
            <td>99</td>

        </tr>
    </body>
    </table>
</div>

 -->
<!-- ####################################################################################################################################### -->

<!-- <div class="row ">
    <div class="row d1">
       <div class="col-sm-1"></div>
       <div class="col-sm-2 ">
        <img src="../assets/linked.jpg" alt="" class="imag" >
       </div>
       <div class="col-sm-1">Articles
        <i class="bi bi-file-earmark-text"></i>

       </div>
       <div class="col-sm-1">People
        <i class="bi bi-person"></i>

       </div>
       <div class="col-sm-1">Learning</div>
       <div class="col-sm-1">Jobs</div>
       <div class="col-sm-1">Games</div>
       <div class="col-sm-1">Get the app</div>
       <div class="col-sm-1">Join Now</div>
       <div class="col-sm-1">Sign in</div>
       <div class="col-sm-1"></div>

    </div>
</div> -->
