<!-- <h1>Flex Container</h1>


<div class="flex-container">
<div class="f">1</div>
<div class="f">2</div>
<div class="f">3</div>
<div class="f">4</div>
<div class="f">5</div>
<div class="f">6</div>
<div class="f">7</div>
<div class="f">8</div>
</div>

<h2>Flex Direction column</h2>

<div class="flex-container1">
    <div class="a">1</div>
    <div class="a">2</div>
    <div class="a">3</div>
    <div class="a">4</div>
    <div class="a">5</div>
    <div class="a">6</div>
</div>

<h2>Column Reverse</h2>

<div class="flex-container2">
    <div class="b">1</div>
    <div class="b">2</div>
    <div class="b">3</div>
    <div class="b">4</div>
</div>

<h2>row reverse</h2>

<div class="flex-container3">
    <div class="c">1</div>
    <div class="c">2</div>
    <div class="c">3</div>
    <div class="c">4</div>
</div>



<h3>flex wrap property</h3>

<div class="flex-container4">
    <div class="d">1</div>
    <div class="d">2</div>
    <div class="d">3</div>
    <div class="d">4</div>
    <div class="d">5</div>
    <div class="d">6</div>
    <div class="d">7</div>
    <div class="d">8</div>
    <div class="d">9</div>
    <div class="d">10</div>
    <div class="d">11</div>
    <div class="d">12</div>
    <div class="d">13</div>
    <div class="d">14</div>
    <div class="d">15</div>
    
</div>


<h3>Flex now rap</h3>
<div class="flex-container5">
    <div class="e">1</div>
    <div class="e">2</div>
    <div class="e">3</div>
    <div class="e">4</div>
    <div class="e">5</div>
    <div class="e">6</div>
    <div class="e">7</div>
    <div class="e">8</div>
    <div class="e">9</div>
    <div class="e">10</div>
    <div class="e">11</div>
    <div class="e">12</div>
    <div class="e">13</div>
    <div class="e">14</div>
    <div class="e">15</div>
    <div class="e">16</div>
    <div class="e">17</div>
    <div class="e">18</div>
    <div class="e">19</div>
    <div class="e">20</div>
    

</div>

<h3>Flex wrap Reverse</h3>
<div class="flex-container6">
    <div class="f">1</div>
    <div class="f">2</div>
    <div class="f">3</div>
    <div class="f">4</div>
    <div class="f">5</div>
    <div class="f">6</div>
    <div class="f">7</div>
    <div class="f">8</div>
    <div class="f">9</div>
    <div class="f">10</div>
    <div class="f">11</div>
    <div class="f">12</div>
    <div class="f">13</div>
    <div class="f">14</div>
    <div class="f">15</div>
</div>

<h3>Flex Flow property</h3>
<div class="flex-container7">
    <div class="g">1</div>
    <div class="g">2</div>
    <div class="g">3</div>
    <div class="g">4</div>
    <div class="g">5</div>
    <div class="g">6</div>
    <div class="g">7</div>
    <div class="g">8</div>
    <div class="g">9</div>
    <div class="g">10</div>
    <div class="g">11</div>
    <div class="g">12</div>
    <div class="g">13</div>
    <div class="g">14</div>
    <div class="g">15</div>
    </div>

    <h2>Justify content</h2>
    <div class="flex-container8">
        <div class="h">0</div>
        <div class="h">1</div>
        <div class="h">2</div>
        <div class="h">3</div>
        <div class="h">4</div>
        <div class="h">5</div>
    </div>


    <h2>Justify containt start</h2>
    <div class="flex-container9">
        <div class="i">1</div>
        <div class="i">2</div>
        <div class="i">3</div>
        <div class="i">4</div>
        <div class="i">5</div>
        <div class="i">6</div>
    </div>


    <h3>Justify content End</h3>
    <div class="flex-container10">
    <div class="J">1</div>
    <div class="J">2</div>
    <div class="J">3</div>
    <div class="J">4</div>
    <div class="J">5</div>

    </div> 
    <h2>Justify Content Space Around</h2>
    <div class="flex-container11">
        <div class="K">A</div>
        <div class="K">B</div>
        <div class="K">C</div>
        <div class="K">D</div>
        <div class="K">E</div>
        <div class="K">F</div>
    </div>
    <h2>Justify Content Space Between</h2>
    <div class="flex-container12">
        <div class="L">A</div>
        <div class="L">B</div>
        <div class="L">C</div>
        <div class="L">D</div>
        <div class="L">E</div>
        <div class="L">F</div>
        <div class="L">G</div>
    </div>
  
    <br>
    <br>

<div class="Container"><img src="https://img.freepik.com/free-photo/vibrant-colors-nature-close-up-wet-purple-daisy-generated-by-artificial-intellingence_25030-63819.jpg" alt="flower">
<div class="k"><b>Flower Always Make People better</b></div>

</div>

<h2>The Align Items Property</h2>
<div class="flex-container13">
    <div class="M">A</div>
    <div class="M">B</div>
    <div class="M">C</div>
    <div class="M">D</div>
    <div class="M">E</div>
    <div class="M">F</div>
    <div class="M">G</div>
    <div class="M">H</div>
    <div class="M">I</div>
</div>

<h2>The Align Items Start</h2>
<div class="flex-container14">
    <div class="N">A</div>
    <div class="N">B</div>
    <div class="N">C</div>
    <div class="N">D</div>
    <div class="N">E</div>
    <div class="N">F</div>
    <div class="N">G</div>
    <div class="N">H</div>
    <div class="N">I</div>
</div>
 

<h2>The Align Items End</h2>
<div class="flex-container15">
    <div class="O">A</div>
    <div class="O">B</div>
    <div class="O">C</div>
    <div class="O">D</div>
    <div class="O">E</div>
    <div class="O">F</div>
    <div class="O">G</div>
    <div class="O">H</div>
    <div class="O">I</div>
</div> -->